@font-face {
    font-family: 'iconfont'; /* Project id 4390725 */
    src:
        url('//at.alicdn.com/t/c/font_4390725_yem8nkwbzqs.woff2?t=1703666998496') format('woff2'),
        url('//at.alicdn.com/t/c/font_4390725_yem8nkwbzqs.woff?t=1703666998496') format('woff'),
        url('//at.alicdn.com/t/c/font_4390725_yem8nkwbzqs.ttf?t=1703666998496') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
    content: '\e61a';
}

.icon-menu1:before {
    content: '\e60b';
}

.icon-menu:before {
    content: '\e6a6';
}
